.img11{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("./nissan\ gtr\ r-35.jpg"),linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.493));
    background-attachment: fixed;
    background-blend-mode: darken;
    background-position: center;
    
}


.img12{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("./supra\ mk4.jpg"),linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.493));
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-position: center;

}


.img13{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("./nissan\ gtr\ r-34.jpg"),linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.493));
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: difference;
}


.img14{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("./lamborgini.jpg"),linear-gradient(pink,gray,yellow,blue,red,green);
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: darken;
}


.img15{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("./bmw\ m5\ cs.jpg"),linear-gradient(90deg, pink,gray,yellow,blue,red,green);
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: darken;
}