.chessboard{
    border: 1px solid black;
    height: 100px;
    width: 50%;
    display: flex;
    text-align: center;
    margin: 0 auto;

}

.white{
    border: 1px solid black;
    height: 100px;
    width: 50%;
    background-color: rgba(255, 213, 0, 0.626);
    display: flex;
    justify-content: center;
    align-items: center;
}
.black{
    border: 1px solid black;
    height: 100px;
    width: 50%;
    background-color: 	#c66c48b7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    margin-top: 20px;
    font-size: 60px;
}

